.header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: red;
    box-shadow: 0 0 10px 10px orange;
    background-color: orange;
    border-radius: 8px;
    border: 2px orange solid;
}

.containerLogo {
    width: 200px;
    padding-top: 8px;
    margin-left: 400px;

}

.containerLogo img {
    width: 182px;
    height: 70px;
}

.containerBtn {
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 400px;
}

.containerBtn .nav {
   text-transform: uppercase;
    font-weight: bold;
}
